<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# KNN Classification and Imputation: Cell Phone Churn Data

_Authors: Kiefer Katovich (SF)_

---

In this lab you will practice using KNN for classification (and a little bit for regression as well).

The dataset is one on "churn" in cell phone plans. It has information on the usage of the phones by different account holders and whether or not they churned or not.

Our goal is to predict whether a user will churn or not based on the other features.

We will also be using the KNN model to **impute** missing data. There are a couple of columns in the dataset with missing values, and we can build KNN models to predict what those missing values will most likely be. This is a more advanced imputation method than just filling in the mean or median.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

from sklearn.neighbors import KNeighborsClassifier

### 1. Load the cell phone "churn" data containing some missing values.

In [2]:
churn = pd.read_csv('../data/churn_missing.csv')

In [3]:
churn.head()

,state,account_length,area_code,intl_plan,vmail_plan,vmail_message,day_mins,day_calls,day_charge,eve_mins,eve_calls,eve_charge,night_mins,night_calls,night_charge,intl_mins,intl_calls,intl_charge,custserv_calls,churn
0,KS,128,415,no,yes,25.0,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,no,yes,26.0,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,no,no,0.0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,yes,no,0.0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,yes,no,0.0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

### 2. Examine the data. What columns have missing values?

In [4]:
# A:

churn.isnull().sum()

state               0
account_length      0
area_code           0
intl_plan           0
vmail_plan        400
vmail_message     400
day_mins            0
day_calls           0
day_charge          0
eve_mins            0
eve_calls           0
eve_charge          0
night_mins          0
night_calls         0
night_charge        0
intl_mins           0
intl_calls          0
intl_charge         0
custserv_calls      0
churn               0
dtype: int64

### 3. Convert the `vmail_plan` and `intl_plan` colums to binary integer columns.

Make sure that if a value is missing that you don't fill it in with a new value! Preserve the missing values.

In [5]:
# A:
churn.loc[:,'vmail_plan'] = churn.vmail_plan.map(lambda x: 1 if x == 'yes' else 0 if x == 'no' else x)
churn.loc[:,'intl'] = churn.vmail_plan.map(lambda x: 1 if x == 'yes' else 0 if x == 'no' else x)

### 4. Create dummy coded columns for state and concatenate it to the churn dataset.

> **Remember:** You will need to leave out one of the state dummy coded columns to serve as the "reference" column since we will be using these for modeling.

In [6]:
# A:
states = pd.get_dummies(churn.state, drop_first=True)
states.head(3)

,AL,AR,AZ,CA,CO,CT,DC,DE,FL,GA,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
states.shape

(3333, 50)

In [8]:
print(len(churn.state.unique()))

51

In [11]:
churn = pd.concat([churn,states],axis=1)

### 5. Create a version of the churn data that has no missing values.

Calculate the shape

In [13]:
# A:


churn_new = churn.notna()
churn_new.head

<bound method NDFrame.head of       state  account_length  area_code  intl_plan  vmail_plan  vmail_message  \
0      True            True       True       True        True           True
1      True            True       True       True        True           True
2      True            True       True       True        True           True
3      True            True       True       True        True           True
4      True            True       True       True        True           True
...     ...             ...        ...        ...         ...            ...
3328   True            True       True       True        True           True
3329   True            True       True       True        True           True
3330   True            True       True       True        True           True
3331   True            True       True       True        True           True
3332   True            True       True       True        True           True

      day_mins  day_calls  day_charge  eve_mins  ...    SD    TN    TX    UT  \
0         True       True        True      True  ...  True  True  True  True
1         True       True        True      True  ...  True  True  True  True
2         True       True        True      True  ...  True  True  True  True
3         True       True        True      True  ...  True  True  True  True
4         True       True        True      True  ...  True  True  True  True
...        ...        ...         ...       ...  ...   ...   ...   ...   ...
3328      True       True        True      True  ...  True  True  True  True
3329      True       True        True      True  ...  True  True  True  True
3330      True       True        True      True  ...  True  True  True  True
3331      True       True        True      True  ...  True  True  True  True
3332      True       True        True      True  ...  True  True  True  True

        VA    VT    WA    WI    WV    WY
0     True  True  True  True  True  True
1     True  True  True  True  True  True
2     True  True  True  True  True  True
3     True  True  True  True  True  True
4     True  True  True  True  True  True
...    ...   ...   ...   ...   ...   ...
3328  True  True  True  True  True  True
3329  True  True  True  True  True  True
3330  True  True  True  True  True  True
3331  True  True  True  True  True  True
3332  True  True  True  True  True  True

[3333 rows x 71 columns]>

### 6. Create a target vector and predictor matrix.

- Target should be the `churn` column.
- Predictor matrix should be all columns except `area_code`, `state`, and `churn`.

In [20]:
# A:
feature_cols=['intl_plan','vmail_plan','vmail_message','day_mins','day_calls','day_charge','eve_mins']
X = churn[feature_cols]
y = churn.churn

### 7. Calculate the baseline accuracy for `churn`.

In [ ]:
# A:

### 8. Cross-validate a KNN model predicting `churn`. 

- Number of neighbors should be 5.
- Make sure to standardize the predictor matrix.
- Set cross-validation folds to 10.

Report the mean cross-validated accuracy.

In [ ]:
# A:

### 9. Iterate from k=1 to k=49 (only odd k) and cross-validate the accuracy of the model for each.

Plot the cross-validated mean accuracy for each score. What is the best accuracy?

In [ ]:
# A:

### Bonus: Does standardizing change your accuracy?