<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

In [14]:
# Enter Student names here:
student_names = ['Ali Siminovsky','Andrew Singer','Chris S','Daniela','Erwin Hessing','Georgiana','Judy Chen','Kristina Chan',
                'Lucie K','Smitha Puranik','Vic']

---

### 1) What are the types of the following variables?

In [5]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'
type(a), type(b), type(c), type(d), type(e),type(f),type(g), type(h),type(i)

(int, float, list, dict, tuple, dict, bool, bool, str)

In [4]:
# A: (int, float, list, dict, tuple, dict, bool, bool, str)

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [ ]:
# A: Mutable objects (e.g., lists, dictionaries, sets) can be changed after being created whereas immutable objects 
# A: (e.g., integers, floats, strings, Booleans, tuples) cannot be changed after being created.

---

### 3) Print the `student_names` list.

In [15]:
print(student_names)

['Ali Siminovsky', 'Andrew Singer', 'Chris S', 'Daniela', 'Erwin Hessing', 'Georgiana', 'Judy Chen', 'Kristina Chan', 'Lucie K', 'Smitha Puranik', 'Vic']

In [ ]:
# A:['Ali Siminovsky', 'Andrew Singer', 'Chris S', 'Daniela', 'Erwin Hessing', 'Georgiana', 'Judy Chen', 'Kristina Chan', 'Lucie K', 'Smitha Puranik', 'Vic']

---

### 4) Print the names of the first and last students on the list.

In [17]:
print(student_names[0]), print(student_names[-1])
# A:

Ali Siminovsky
Vic

(None, None)

---

### 5) Print the first five names in the `student_names` list.

In [19]:
print(student_names[0:5])
# A:

['Ali Siminovsky', 'Andrew Singer', 'Chris S', 'Daniela', 'Erwin Hessing']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [22]:
nineandten=str(student_names[8] + " " + student_names[9])
print(nineandten)
# A:

Lucie K Smitha Puranik

---

### 7) Append an animal to the list of animals.

In [32]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
animals.append('dog')

In [33]:
# A: 
animals.append('dog')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'dog']

---

### 8) Print the length of the `animals` list.

In [35]:
# A:
len(animals)

7

---

### 9) Divide the length of the fifth animal by the length of second animal.

In [55]:
# A:
result=len(animals[4])/len(animals[1])
print(result)

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [56]:
# A:
float(result)

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [46]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [49]:
# A:
animals + numbers
animals.extend(numbers)

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [44]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [45]:
# A:
names.remove('kiefer')
names.append('ali')
print(names)

['doug', 'billy', 'kian', 'sam', 'ali']

---

### 13) Count the number of times `0` appears in the following list.

In [57]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [59]:
# A:
binary.count(0)

16

---

### 14) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [21]:
# A:
SFdict = {
    'sunset':94122,
    'presidio':94129,
    'soma':94105,
    'marina':94123
}

---

### 15) Get the zip code for `'soma'` and assign it to a variable.

In [65]:
# A:
somavar=SFdict.get('soma')
print(somavar)

94105

---

### 16) Get the keys out of the dictionary.

In [69]:
# A:
SFdict.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 17) Get the key-value pairs out of the dictionary as a list of tuples.

In [70]:
# A:
dictlist=list(SFdict.items())
print(dictlist)

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 18) Add The Castro to the dictionary with the zip code 94114.

In [72]:
# A:
SFdict['The Castro']=94114
print(SFdict)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'The Castro': 94114}

---

### 19) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [73]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [76]:
# A:
combined={**SFdict,**small}
print(combined)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'The Castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 20) Remove the `'sunset'` zip code and assign it to a variable.

In [22]:
# A:
SFdict.pop('sunset')
print(SFdict)
sunset

{'presidio': 94129, 'soma': 94105, 'marina': 94123}

94122